<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        body {
            background-color: 	#f0ffff;
        }
        .content {
            display: flex;
            justify-content: space-between;
        }
        .instructions {
            width: 55%; /* Adjust this width as needed */
        }
        .form {
            width: 45%; /* Adjust this width as needed */
        }
        #backButton {
            position: fixed;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <h1>Status Report</h1>
    <button id="backButton" onclick="gotomainpage()">Go Back to main page</button>
    <div class="content">
        <div class="instructions">
            {{ description | safe }}
        </div>
        <div class="form">
            <form method="POST">
                <label for="database_name">Database Name:</label>
                <input type="text" name="database_name" id="database_name"><br><br>
                <label for="dataset_name">Dataset Name:</label>
                <input type="text" name="dataset_name" id="dataset_name"><br><br>
                <button type="submit">Generate .rdl file</button>
            </form>
        </div>
    </div>
    <script>
         function gotomainpage() {
            // Use window.location to navigate to the upload.html page
            window.location.href = 'http://127.0.0.1:5000'; // Update the path as needed
        }
    </script>
</body>
</html>
