<!DOCTYPE html>
<html>
<head>
    <title>Generated Reports</title>
    <style>
        body {
            background-color: 	#f0ffff;
        }
        #backButton {
            position: fixed;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <h1>Generated Reports</h1>
    <button id="backButton" onclick="gotomainpage()">Go Back to main page</button>
    <ul>
        {% for report in reports %}
            <li><a href="{{ url_for('download_report', filename=report) }}">{{ report }}</a></li>
        {% endfor %}
    </ul>
    <script>
         function gotomainpage() {
            // Use window.location to navigate to the upload.html page
            window.location.href = 'http://127.0.0.1:5000'; // Update the path as needed
        }
    </script>
</body>
</html>
